source/.gradle
source/components/code-generator/.settings
source/components/code-generator/.classpath
source/components/code-generator/.project
source/components/code-generator/bin
source/components/code-generator/build
source/build
source/components/build
source/.settings
source/components/.settings
