# If this config present in config file, then class created with this name else will create class with same name as table.
#TABLENAME.CLASSNAME=

# If this config present in config file, then class field created with this name else will create class field with same name as table column name.
#TABLENAME.COLUMN.FIELDNAME=FIELDNAME

#Set this property to ignore column in entity class
#TABLENAME.COLUMN.FIELDNAME.IGNORE.ENTITY=true

#Application Table Def:
SAIX_APPLICATION.CLASSNAME=ApplicationEntity
SAIX_APPLICATION.APPLICATIONID.FIELDNAME=applicationId
SAIX_APPLICATION.COMPANYID.FIELDNAME=companyId
SAIX_APPLICATION.NAME.FIELDNAME=appName
SAIX_APPLICATION.STATE.FIELDNAME=state
SAIX_APPLICATION.USAGE.FIELDNAME=usage
SAIX_APPLICATION.BEHAVIOR.FIELDNAME=behavior
SAIX_APPLICATION.CATEGORY.FIELDNAME=category
SAIX_APPLICATION.IMPORTANCE.FIELDNAME=importance
SAIX_APPLICATION.CROWNJEWEL.FIELDNAME=crownJewel
SAIX_APPLICATION.ACTIVE_RISKSCORE.FIELDNAME=activeRiskscore
SAIX_APPLICATION.BUSUNIT.FIELDNAME=busUnit
SAIX_APPLICATION.CONNECTED.FIELDNAME=connected
SAIX_APPLICATION.REGISTRATION_DATE.FIELDNAME=registrationDate
SAIX_APPLICATION.DEREGISTRATION_DATE.FIELDNAME=deregistrationDate
SAIX_APPLICATION.AGE.FIELDNAME=age
SAIX_APPLICATION.DESCRIPTION.FIELDNAME=description
SAIX_APPLICATION.OWNER.FIELDNAME=owner
SAIX_APPLICATION.CUSTOM_ATTR1.FIELDNAME=customAttr1
SAIX_APPLICATION.CUSTOM_ATTR2.FIELDNAME=customAttr2
SAIX_APPLICATION.CUSTOM_ATTR3.FIELDNAME=customAttr3
SAIX_APPLICATION.CUSTOM_ATTR4.FIELDNAME=customAttr4
SAIX_APPLICATION.CUSTOM_ATTR5.FIELDNAME=customAttr5
SAIX_APPLICATION.CUSTOM_ATTR6.FIELDNAME=customAttr6
SAIX_APPLICATION.CUSTOM_ATTR7.FIELDNAME=customAttr7
SAIX_APPLICATION.CUSTOM_ATTR8.FIELDNAME=customAttr8
SAIX_APPLICATION.CUSTOM_ATTR9.FIELDNAME=customAttr9
SAIX_APPLICATION.CUSTOM_ATTR10.FIELDNAME=customAttr10
SAIX_APPLICATION.CREATEDBY.FIELDNAME=createdBy
SAIX_APPLICATION.CREATEDDATE.FIELDNAME=createdDate
SAIX_APPLICATION.UPDATEDBY.FIELDNAME=updatedBy
SAIX_APPLICATION.UPDATEDDATE.FIELDNAME=updatedDate


# Account table def:
SAIX_ACCOUNT.CLASSNAME=AccountEntity
SAIX_ACCOUNT.ACCOUNTID.FIELDNAME=accountId
SAIX_ACCOUNT.APPLICATIONID.FIELDNAME=applicationId
SAIX_ACCOUNT.EMPLOYEEID.FIELDNAME=employeeId
SAIX_ACCOUNT.ACCOUNTNAME.FIELDNAME=accountName
SAIX_ACCOUNT.STATUS.FIELDNAME=status
SAIX_ACCOUNT.ACTIVE_RISKSCORE.FIELDNAME=activeRiskscore
SAIX_ACCOUNT.LASTUPDTIMESTAMP.FIELDNAME=lastUpdatedTimestamp
SAIX_ACCOUNT.LASTLOGINTIMESTAMP.FIELDNAME=lastLoginTimestamp
SAIX_ACCOUNT.PASSWORD.FIELDNAME=password
SAIX_ACCOUNT.FAILEDLOGINCOUNT.FIELDNAME=failedLoginCount
SAIX_ACCOUNT.CHANGEPWDCOUNT.FIELDNAME=changePwdCount
SAIX_ACCOUNT.LASTPWDCHANGETIMESTAMP.FIELDNAME=lastPwdChangeTimestamp
SAIX_ACCOUNT.TYPE.FIELDNAME=type
SAIX_ACCOUNT.PWDEXPIRATIONDATE.FIELDNAME=pwdExpirationDate
SAIX_ACCOUNT.USAGE.FIELDNAME=usage
SAIX_ACCOUNT.LINKEDTOIDENTITY.FIELDNAME=linkedToIdentity
SAIX_ACCOUNT.ACTIVATIONDATE.FIELDNAME=activationDate
SAIX_ACCOUNT.DEACTIVATIONDATE.FIELDNAME=deactivationDate
SAIX_ACCOUNT.EXPIRATION_STATE.FIELDNAME=expirationState
SAIX_ACCOUNT.PRIVILEGED_COUNT.FIELDNAME=privilegedCount
SAIX_ACCOUNT.DESCRIPTION.FIELDNAME=description
SAIX_ACCOUNT.CREATEDBY.FIELDNAME=createdBy
SAIX_ACCOUNT.CREATEDDATE.FIELDNAME=createdDate
SAIX_ACCOUNT.UPDATEDBY.FIELDNAME=updatedBy
SAIX_ACCOUNT.UPDATEDDATE.FIELDNAME=updatedDate
SAIX_ACCOUNT.CUSTOM_ATTR1.FIELDNAME=customAttribute1
SAIX_ACCOUNT.CUSTOM_ATTR2.FIELDNAME=customAttribute2
SAIX_ACCOUNT.CUSTOM_ATTR3.FIELDNAME=customAttribute3
SAIX_ACCOUNT.CUSTOM_ATTR4.FIELDNAME=customAttribute4
SAIX_ACCOUNT.CUSTOM_ATTR5.FIELDNAME=customAttribute5
SAIX_ACCOUNT.CUSTOM_ATTR6.FIELDNAME=customAttribute6
SAIX_ACCOUNT.CUSTOM_ATTR7.FIELDNAME=customAttribute7
SAIX_ACCOUNT.CUSTOM_ATTR8.FIELDNAME=customAttribute8
SAIX_ACCOUNT.CUSTOM_ATTR9.FIELDNAME=customAttribute9
SAIX_ACCOUNT.CUSTOM_ATTR10.FIELDNAME=customAttribute10




# Identity Table def:
SAIX_IDENTITY.CLASSNAME=IdentityEntity
SAIX_IDENTITY.IDENTITYID.FIELDNAME=identityId
SAIX_IDENTITY.COMPANYID.FIELDNAME=companyId
SAIX_IDENTITY.ORGANIZATIONNAME.FIELDNAME=organizationName
SAIX_IDENTITY.DEPARTMENTNAME.FIELDNAME=departmentName
SAIX_IDENTITY.EMPLOYEEID.FIELDNAME=employeeId
SAIX_IDENTITY.USERID.FIELDNAME=userId
SAIX_IDENTITY.USERNAME.FIELDNAME=userName
SAIX_IDENTITY.FIRSTNAME.FIELDNAME=firstName
SAIX_IDENTITY.MIDDLENAME.FIELDNAME=middleName
SAIX_IDENTITY.LASTNAME.FIELDNAME=lastName
SAIX_IDENTITY.FULLNAME.FIELDNAME=fullName
SAIX_IDENTITY.DOB.FIELDNAME=dob
SAIX_IDENTITY.TELEPHONENUMBER.FIELDNAME=telephoneNumber
SAIX_IDENTITY.JOBCODE.FIELDNAME=jobCode
SAIX_IDENTITY.COSTCENTRE.FIELDNAME=costCentre
SAIX_IDENTITY.TITLE.FIELDNAME=title
SAIX_IDENTITY.STARTDATE.FIELDNAME=startDate
SAIX_IDENTITY.ENDDATE.FIELDNAME=endDate
SAIX_IDENTITY.MANAGER.FIELDNAME=manager
SAIX_IDENTITY.STATUS.FIELDNAME=status
SAIX_IDENTITY.EMPLOYEESTATUS.FIELDNAME=employeeStatus
SAIX_IDENTITY.IDENTITYCREATIONDATE.FIELDNAME=identityCreationDate
SAIX_IDENTITY.IDENTITYUPDATEDDATE.FIELDNAME=identityUpdatedDate
SAIX_IDENTITY.ACTIVE_RISKSCORE.FIELDNAME=activeRiskscore
SAIX_IDENTITY.EMPLOYEETYPE.FIELDNAME=employeeType
SAIX_IDENTITY.EMAIL.FIELDNAME=email
SAIX_IDENTITY.WORKHOURS.FIELDNAME=workHours
SAIX_IDENTITY.WORKTIMEZONE.FIELDNAME=workTimezone
SAIX_IDENTITY.PASSWORD.FIELDNAME=password
SAIX_IDENTITY.LOCATIONID.FIELDNAME=locationId
SAIX_IDENTITY.LOCATIONNUMBER.FIELDNAME=locationNumber
SAIX_IDENTITY.SITE.FIELDNAME=site
SAIX_IDENTITY.STREET.FIELDNAME=street
SAIX_IDENTITY.CITY.FIELDNAME=city
SAIX_IDENTITY.STATE.FIELDNAME=state
SAIX_IDENTITY.ZIPCODE.FIELDNAME=zipCode
SAIX_IDENTITY.COUNTRY.FIELDNAME=country
SAIX_IDENTITY.CREATEDBY.FIELDNAME=createdBy
SAIX_IDENTITY.CREATEDDATE.FIELDNAME=createdDate
SAIX_IDENTITY.UPDATEDBY.FIELDNAME=updatedBy
SAIX_IDENTITY.UPDATEDDATE.FIELDNAME=updatedDate
SAIX_IDENTITY.CUSTOM_ATTR1.FIELDNAME=customAttr1
SAIX_IDENTITY.CUSTOM_ATTR2.FIELDNAME=customAttr2
SAIX_IDENTITY.CUSTOM_ATTR3.FIELDNAME=customAttr3
SAIX_IDENTITY.CUSTOM_ATTR4.FIELDNAME=customAttr4
SAIX_IDENTITY.CUSTOM_ATTR5.FIELDNAME=customAttr5
SAIX_IDENTITY.CUSTOM_ATTR6.FIELDNAME=customAttr6
SAIX_IDENTITY.CUSTOM_ATTR7.FIELDNAME=customAttr7
SAIX_IDENTITY.CUSTOM_ATTR8.FIELDNAME=customAttr8
SAIX_IDENTITY.CUSTOM_ATTR9.FIELDNAME=customAttr9
SAIX_IDENTITY.CUSTOM_ATTR10.FIELDNAME=customAttr10


SAIX_EVENT.CLASSNAME=EventEntity
SAIX_EVENT.EVENTID.FIELDNAME=eventId
SAIX_EVENT.COMPANYID.FIELDNAME=companyId
SAIX_EVENT.SOURCEAPPLICATION.FIELDNAME=sourceApplication
SAIX_EVENT.EVENTDESCRIPTION.FIELDNAME=eventDescription
SAIX_EVENT.RECEIVEDDATE.FIELDNAME=receivedDate
SAIX_EVENT.STATE.FIELDNAME=state


SAIX_APPENTITLEMENT.CLASSNAME=ApplicationEntitlement
SAIX_APPENTITLEMENT.ENTITLEMENTID.FIELDNAME=entitlementId
SAIX_APPENTITLEMENT.APPLICATIONID.FIELDNAME=applicationId
SAIX_APPENTITLEMENT.NAME.FIELDNAME=name
SAIX_APPENTITLEMENT.DESCRIPTION.FIELDNAME=description
SAIX_APPENTITLEMENT.STATUS.FIELDNAME=status
SAIX_APPENTITLEMENT.USAGE.FIELDNAME=usage
SAIX_APPENTITLEMENT.ACTIVATIONDATE.FIELDNAME=activationDate
SAIX_APPENTITLEMENT.DEACTIVATIONDATE.FIELDNAME=deactivationDate
SAIX_APPENTITLEMENT.RISKSCORE.FIELDNAME=riskscore
SAIX_APPENTITLEMENT.AGE.FIELDNAME=age
SAIX_APPENTITLEMENT.AVAILABILITY.FIELDNAME=availability
SAIX_APPENTITLEMENT.OWNER.FIELDNAME=owner
SAIX_APPENTITLEMENT.CREATEDBY.FIELDNAME=createdBy
SAIX_APPENTITLEMENT.CREATEDDATE.FIELDNAME=createdDate
SAIX_APPENTITLEMENT.UPDATEDBY.FIELDNAME=updatedBy
SAIX_APPENTITLEMENT.UPDATEDDATE.FIELDNAME=updatedDate