#==============================================================================
# Provide database details to fetch table metadata
#==============================================================================
DB.DRIVER=org.postgresql.Driver
DB.URL=jdbc:postgresql://localhost:5432/cloud
DB.USER=cloud_super
DB.PASSWORD=root

#==============================================================================
# Path and package name for java classes.
#==============================================================================
java.generated.file.base.dir=/Users/vijay/work/product/cloud-manager/source/components/engine/src/main/java/
java.generated.file.entity.package=com.zillion.cloudmanager.entity
java.generated.file.dao.package=com.zillion.cloudmanager.dao

#==============================================================================
# File path from where to get the copyright content for java classes
#==============================================================================
# Specify file path from where to pickup the copyright header for java class. 
# This can be file name in classpath or absolute file path.
JAVA.CLASS.COPYRIGHT.HEADER.FILEPATH=java.copyright.config


#==============================================================================
# List of tables used for generating code. 
#==============================================================================
TABLE.LIST=cloud_provider, env_resource, environment, environment_config, organization, resource_type, stack


#==============================================================================
# Define table to java class name mapping. One config for each table.
# This config names are optional. If not provided, Table name will be used as 
# java class file.
# Format: 
# <TABLENAME>.CLASSNAME=<Java class name>
# Note: If this mapping is not define, this utility will write message with 
# list of missing configs. You can use output to define these configs.
#==============================================================================
#CUST_ORDER.CLASSNAME=CustomerOrder


#==============================================================================
# Define table column name to java field name mapping. 
# One config for each column for each table.
# This config names are optional. If not provided, column name will be used as 
# java field name (Instance variable).
# Format: 
# <TABLENAME>.<COLUMN_NAME>.FIELDNAME=<Java class instance variable name>
# Note: If this mapping is not define, this utility will write message with 
# list of missing configs. You can use output to define these configs.
#==============================================================================
#CUST_ORDER.ORDER_ID.FIELDNAME=OrderNumber



#Set this property to ignore column in entity class
#TABLENAME.COLUMN.FIELDNAME.IGNORE.ENTITY=true


CLOUD_PROVIDER.CLASSNAME=CloudProviderEntity
CLOUD_PROVIDER.ID.FIELDNAME=providerId
CLOUD_PROVIDER.SHORT_NAME.FIELDNAME=shortName
CLOUD_PROVIDER.DESCRIPTION.FIELDNAME=description
CLOUD_PROVIDER.STATUS.FIELDNAME=status
CLOUD_PROVIDER.CREATED_BY.FIELDNAME=createdBy
CLOUD_PROVIDER.DATE_CREATED.FIELDNAME=dateCreated
CLOUD_PROVIDER.UPDATED_BY.FIELDNAME=updatedBy
CLOUD_PROVIDER.DATE_UPDATED.FIELDNAME=dateUpdated
CLOUD_PROVIDER.REVISION_NUMBER.FIELDNAME=revisionNumber


RESOURCE_TYPE.CLASSNAME=ResourceTypeEntity
RESOURCE_TYPE.ID.FIELDNAME=resourceTypeId
RESOURCE_TYPE.SHORT_NAME.FIELDNAME=shortName
RESOURCE_TYPE.DESCRIPTON.FIELDNAME=descripton

ORGANIZATION.CLASSNAME=OrganizationEntity
ORGANIZATION.ID.FIELDNAME=organizationId
ORGANIZATION.ORG_NAME.FIELDNAME=orgName

STACK.CLASSNAME=StackEntity
STACK.ID.FIELDNAME=stackId
STACK.ORGANIZATION_ID.FIELDNAME=organizationId
STACK.NAME.FIELDNAME=name

ENVIRONMENT.CLASSNAME=EnvironmentEntity
ENVIRONMENT.ID.FIELDNAME=environmentId
ENVIRONMENT.STACK_ID.FIELDNAME=stackId
ENVIRONMENT.NAME.FIELDNAME=name
ENVIRONMENT.CLOUD_PROVIDER_ID.FIELDNAME=CloudProviderId

ENV_RESOURCE.CLASSNAME=EnvResourceEntity
ENV_RESOURCE.ID.FIELDNAME=envResourceId
ENV_RESOURCE.ENVIRONMENT_ID.FIELDNAME=environmentId
ENV_RESOURCE.RESOURCE_TYPE.FIELDNAME=resourceType


ENVIRONMENT_CONFIG.CLASSNAME=EnvironmentConfigEntity
ENVIRONMENT_CONFIG.ENVIRONMENT_ID.FIELDNAME=environmentId
ENVIRONMENT_CONFIG.CONFIG_NAME.FIELDNAME=configName
ENVIRONMENT_CONFIG.CONFIG_VALUE.FIELDNAME=configValue

