DB.DRIVER=org.postgresql.Driver
DB.URL=jdbc:postgresql://xx.xx.xx.xx:5432/db
DB.USER=db_master
DB.PASSWORD=password

java.generated.file.base.dir=/Users/vijay/work/saix/projects/ApiService/source/components/entity-processor/build/
java.generated.file.entity.package=com.saix.common.entity
java.generated.file.dao.package=com.saix.common.dao

# Specify file path from where to pickup the copyright header for java class. This can be file name in classpath or absolute file path.
JAVA.CLASS.COPYRIGHT.HEADER.FILEPATH=java.copyright.config
# SQL to java type mapping:
SQL.BIGINT.TO.JAVATYPE=long
SQL.INTEGER.TO.JAVATYPE=int
SQL.VARCHAR.TO.JAVATYPE=String
SQL.BIT.TO.JAVATYPE=boolean
SQL.TIMESTAMP.TO.JAVATYPE=Date
SQL.DATE.TO.JAVATYPE=Date

