DB.DRIVER=org.postgresql.Driver
DB.URL=jdbc:postgresql://xx.xx.xx.xx:5432/db
DB.USER=db_master
DB.PASSWORD=password


# Specify file path from where to pickup the copyright header for java class. This can be file name in classpath or absolute file path.
JAVA.CLASS.COPYRIGHT.HEADER.FILEPATH=java.copyright.config
# SQL to java type mapping:
SQL.BIGINT.TO.JAVATYPE=long
SQL.INTEGER.TO.JAVATYPE=int
SQL.VARCHAR.TO.JAVATYPE=String
SQL.BIT.TO.JAVATYPE=char
SQL.TIMESTAMP.TO.JAVATYPE=Date
SQL.DATE.TO.JAVATYPE=Date

# If this config present in config file, then class created with this name else will create class with same name as table.
#TABLENAME.CLASSNAME=
# If this config present in config file, then class field created with this name else will create class field with same name as table column name.
#TABLENAME.COLUMN.FIELDNAME=FIELDNAME
